<a style="border:1px solid #d9d9d9;position:relative;top:-9px;right:-4px; display:inline-block;background-color:#f9f9f9;color:#777;text-decoration:none;line-height:29px; height:29px; width: 60px; cursor: text;text-align: center;">共<span class="totalCount"></span>条
</a>
<div class="pageBox" style="display: inline-block;">
</div>
<a style="border:1px solid #d9d9d9;position:relative;top:-9px;left:-4px; display:inline-block;background-color:#f9f9f9;color:#777; text-decoration:none;line-height:29px;cursor: text;height:29px; width: 60px; text-align: center;">共<span class="pageTotal"></span>页
</a>
<select class="pageSize" style="position:relative;top:-10px;left:-8px;height: 29px;">
	<option>10</option>
	<option>20</option>
	<option>30</option>
	<option>40</option>
	<option>50</option>
</select>